:root {
  --card-width: 63mm;
  --card-height: 88mm;
  --gap-size: 0;
}

@media print {
  * {
    page-break-inside: avoid;
  }
}

* {
  margin: 0;
  padding: 0;
}

#root {
}

body {
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.page {
  padding-top: 10mm;
  padding-bottom: 10mm;
  background: repeating-linear-gradient(
    to right,

    white,
    white calc(var(--card-width) - (1mm / 2)),
    red calc(var(--card-width) - (1mm / 2)),
    red calc(var(--card-width) + (1mm / 2)),
    white calc(var(--card-width) + (1mm / 2)),
    white calc(var(--card-width) + var(--card-width) - (1mm / 2)),
    red calc(var(--card-width) + var(--card-width) - (1mm / 2)),
    red calc(var(--card-width) + var(--card-width) + (1mm / 2))
  );
  page-break-inside: avoid;
  display: inline-grid;
  grid-template-columns: repeat(3, var(--card-width));
  flex-wrap: wrap;
  gap: var(--gap-size);
  margin-top: var(--gap-size);
  margin-left: 10mm;
}

.extraMargin .page {
  margin-left: 12mm;
}

.rtl {
  direction: rtl;
}

img {
  height: var(--card-height);
  width: var(--card-width);
}
img.radius {
  border-radius: 12pt;
}
