:root {
  --card-width: 63mm;
  --card-height: 88mm;
  --card-cutting-guide: 1px;
  --gap-size: 2px;
  --card-border: #d1b205;
  --cardback-border: #192653;
  --page-left-margin: 10mm;
  --cardback-margin-offset: 2mm;
  --cardback-group-extra-background: 10px;
}

* {
  margin: 0;
  padding: 0;
}

#root {
}

body {
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.page {
  margin-top: 10mm;
  margin-left: var(--page-left-margin);
  display: inline-grid;
  grid-template-columns: repeat(3, var(--card-width));
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.card-back .page {
  margin-left: calc(
    var(--page-left-margin) + var(--cardback-margin-offset) - calc(2 * var(--gap-size))
  );
  /*box-shadow: 0 0 0 var(--cardback-group-extra-background) var(--cardback-border);*/
  background: var(--cardback-border);
}

.rtl {
  direction: rtl;
}

img {
  height: var(--card-height);
  width: var(--card-width);
  box-shadow: 0 0 0 var(--card-cutting-guide) var(--card-border);
}
img.radius {
  border-radius: 2mm;
}

.card-back img {
  box-shadow: none;
}
